stdafx.cpp
asteroid_mesh.vcxproj
*.filters
asteroid_mesh.vcxproj.user
*.log
Debug/asteroid_mesh.lastbuildstate
*.obj
Debug/asteroid_mesh.pch
*.tlog
ReadMe.txt
Debug/vc120.pdb
*.idb
Debug/asteroid_mesh.unsuccessfulbuild
rply.c
rplyfile.h
stdafx.h
tinyply.cpp
tinyply.h
targetver.h
rply_service.c
rply.h
nanoflann.hpp